html {
    background-color: rgb(8, 8, 8);
    font-family: Ubuntu, sans-serif;
    text-align: left;
    
    overflow: hidden;
}


.mainCenteredBox { 
    display: flex;
    /*justify-content: center;*/

    overflow: hidden;
    background-color: rgb(226, 226, 226);
    width: 40%;
    min-height: 100%;
    

    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

.hovShit {
    text-decoration: underline dotted; 
    cursor: help;
}